$gradientBoxHeight: 80px;

@mixin standardFormatting {
	position: relative;
	align-items: center;
	box-sizing: border-box;
	margin: 0px auto;
}

//Index.js
#overallAppContainer {
	background-color: black;
	margin: -8px;
	padding: 8px;
}

//Movies.js
#moviePageContainer {
	@include standardFormatting;
	color: white;
	margin: -8px;

	#heroMovieContainer {
		position: relative;
		width: 100%;
		height: 80vh;
		align-items: center;
		z-index: 1;

		#heroNavbarContainer {
			padding: 0px 2vw;
		}

		#heroBackgroundImage {
			position: absolute;
			z-index: -1;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: 0.6;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		#alignmentContainer {
			display: flex;
			align-items: center;
			height: 100%;

			#heroDetailContainer {
				position: relative;
				padding: 10px 2vw;
				z-index: 1;

				.heroDetailItem {
					margin-bottom: 30px;
				}

				#heroDetailsButton {
					font-size: large;
				}

				#heroDescription {
					line-height: 30px;
				}

				#heroTitle {
					font-weight: 700;
					font-size: xxx-large;
				}

				#heroDetailsButton {
					cursor: pointer;
				}
			}
		}

		#gradientBox {
			display: flex;
			position: absolute;
			align-self: bottom;
			height: 80px;
			width: 100%;
			bottom: 0px;
			background-image: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0),
				rgba(0, 0, 0, 1)
			);
		}
	}

	#generalMovieContainer {
		padding: 10px;

		.movieContainer {
			display: flex;
			overflow-x: scroll;

			.movieItem {
				margin: 5px 5px;
				width: 15vw;
				height: calc(1.5 * 15vw);
				cursor: pointer;
			}
		}
	}
}

//{id}.js
#detailContainer {
	@include standardFormatting;
	background-color: black;
	margin: -8px;
	color: white;
	overflow: hidden;

	#detailHeader {
		display: flex;
		z-index: 1;
		position: relative;
		padding: 0px 2vw;
		flex-direction: column;

		#secondaryContainer {
			display: flex;

			#backgroundImage {
				position: absolute;
				z-index: -1;
				top: 0%;
				bottom: 0%;
				left: 0%;
				right: 0%;
				opacity: 0.4;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
			}

			#detailPoster {
				max-width: 300px;
				max-height: 450px;
				width: 30vw;
				height: 45vw;
			}

			#movieDetailContainer {
				padding: 0px 2vw;
				width: 100%;
				height: auto;

				.movieDetailItem {
					margin-bottom: 10px;
					line-height: 30px;
				}

				#detailTitle,
				#detailReleaseYear {
					font-weight: 700;
					font-size: xx-large;
				}
			}
		}

		#gradientBox {
			display: flex;
			position: absolute;
			align-self: bottom;
			height: 80px;
			width: 100%;
			bottom: 0px;
			background-image: linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0),
				rgba(0, 0, 0, 1)
			);
			margin: 0px -5vw;
			z-index: -1;
		}
	}

	.modal-video-movie-wrap {
		background-color: rgba(256, 256, 256, 0.6);
		padding-bottom: 0% !important;
		position: fixed !important;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 100vh;
		left: 0%;
		top: 0%;
		box-sizing: border-box;
	}

	iframe {
		width: 90vw;
		height: 90vh;
		z-index: 1.1;
	}

	#bodyContainer {
		padding: 40px 5vw;
		margin: -8px;

		#castList,
		#crewList,
		#recommendationList {
			display: flex;
			margin: 10px auto;
			overflow-x: auto;
		}
	}
}

//Profile.js
#profileContainer {
	@include standardFormatting;
	width: 100px;
	margin: 10px;

	#profileHeadshot {
		display: flex;
		height: auto;
		border-radius: 40px;
		overflow: hidden;
		justify-content: center;

		#profileBlank {
			height: 150px;
			background-color: white;
		}
		.headshot {
			display: flex;
			width: 110%;
		}
	}

	#profileName,
	#profileRole {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

//MovieProfile.js
#moviePosterContainer {
	@include standardFormatting;
	width: 200px;
	margin: 10px;

	#moviePoster {
		display: flex;
		height: auto;
		border-radius: 10px;
		overflow: hidden;
		justify-content: center;

		#blankPoster {
			height: 300px;
			background-color: white;
		}
		.poster {
			display: flex;
			width: 110%;
			cursor: pointer;
		}
	}

	#profileName,
	#profileRole {
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
}

//NavBar.js
#navbarContainer {
	@include standardFormatting();
	position: sticky;
	//sticky changes Position from relative and fixed when scrolling.  Can use ::after or something to transition to black background when page scrolls
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	margin: 0px;
	z-index: -1.1;
	color: white;
	height: 60px;

	#homeButton {
		display: flex;
		position: relative;
		align-items: center;
		justify-content: center;
		width: auto;
		font-size: x-large;
		z-index: 0.95;
		cursor: pointer;
	}
	#searchBar {
		font-size: x-large;
		font-weight: 700;
		display: flex;

		#searchLabel {
			align-items: center;
			justify-content: space-between;
			display: flex;

			#searchInput {
				margin: 0px 0px 0px 10px;
			}
		}
	}

	a {
		color: white;
		width: auto;
		text-decoration-line: none;

		.MuiSvgIcon-root {
			height: 60px;
			width: 60px;
			opacity: 0.8;
			// Have to change height and width together to get the icon to resize.
		}
	}

	#homeButton,
	#searchBar {
		color: white;
	}
}

//SearchResults.js
#searchResultsPageContainer {
	@include standardFormatting();
	background-color: black;
	margin: -8px;
	height: 100vh;
	padding: 0px 2vw;

	#searchResultsHeader {
		color: white;
	}

	#noResultsNotice {
		color: white;
	}

	#searchResultsContainer {
		display: flex;
		width: 100%;
		overflow-x: scroll;

		#testSearchResults {
			color: white;
		}
	}
	.searchResult {
		width: 15vw;
		margin: 5px;
	}
}

//Footer.js
#footerContainer {
	@include standardFormatting();
	display: flex;
	flex-direction: column;
	margin: 0px auto 10px;
	color: white;

	#credits {
		display: flex;
		flex-direction: row;
		align-items: center;

		#logoContainer {
			display: flex;
			height: 40px !important;
			width: 40px !important;
			margin: 0px 5px;
			align-items: center;
		}
	}
}

@media (max-width: 480px) {
	//Movie.js
	.movieItem {
		width: 25vw !important;
		height: calc(1.5 * 25vw) !important;
	}

	//MovieProfile.js
	#moviePosterContainer {
		width: 40vw;
		height: calc(1.5 * 40vw);
	}

	//[id].js
	#detailPoster,
	#detailTitle {
		padding-top: 20px;
	}

	//SearchResults.js
	#searchResultsPageContainer {
		height: auto;
		min-height: 100vh;

		#searchResultsContainer {
			flex-direction: column;
			overflow-y: scroll;
			align-items: center;
			justify-content: center;
		}
		.searchResult {
			width: 50vw !important;
			height: auto;
			margin: 5px;
		}
	}
}

@media screen and (max-width: 480px) {
	//Navbar.js
	#navbarContainer {
		#homeButton,
		#searchLabel {
			font-size: large;
		}
	}
}

@media screen and (min-width: 481px) and (max-width: 768px) {
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
}
